@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    color: black;
    
}

body{
    background-color: rgb(239, 239, 239);
    color:black;
}

/*HEADER*/
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3)
}

nav{
    display: flex;
    width: 100%;
    height: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    font-weight: 300;
}

.logo-container>img{
    width: 25px;
    margin-right: 10px;
}

.boton-carrito {
    border: none;
    margin-left: 10px;
    font-size: 15px;
}


.banner { 
    width: 100%;
    height: 300px;
    background-image: url(imagenes/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner::before{
    content: '' ;
    display: block;
    position: absolute;
    height: 300px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


h1{
    color: white;
    z-index: 1;
}


/*SECCIÓN QUE CONTIENE FILTROS Y SECCIÓN CONTENEDORA DE TARJETAS*/
.principal {
    display: flex;
    align-items: flex-start;
    margin-top: 80px;
}

/*SECCIÓN GENERAL DE FILTROS*/
.filtros {
    max-width: 270px;
    font-size: 12px;
    font-weight: 600;
}

/*ASIDE*/
aside {
    margin: 10px;
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

aside>div{
   margin: 10px;
}

.encabezado-filtros{
    display: flex;
    justify-content: space-between;
   
}
h2{
    font-weight: 600;
    margin-top: 20px;
}

.limpiar{
    border:none;
    margin-top: 20px;
}

h3{
    margin-top: 15px;
    margin-bottom: 15px;
}

/*FILTRO DE BÚSQUEDA + POSICIONAMIENTO DE LUPA EN INPUT DE BUSQUEDA*/
.search{
    background-color: whitesmoke;
    position: relative;
    height: 20px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
}

#lupita{
    position: absolute;
    left: 200px;
    top: 615px;
}


.filtros label input {
    margin-right: 5px;
}

.categorias{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    
}

.puntaje{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

/*ESTILO DE LOS ICONOS DE ESTRELLA PARA PUNTAJES EN GENERAL*/
.fa-star{
  color: orange;
}

/*SECCION CONTENEDORA DEL OVERLAY Y EL MUENU CARRITO*/

.overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
}

.menu-carrito{
    width: 400px;
    height: 100vh;
    background-color: whitesmoke;
    border-left: 1px solid #dedede;
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 4;

}

.encabezado-menu{
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado-menu>h2{
    margin-top: 0;
}

#cerrar-menu{
    border: none;
    background-color: whitesmoke;
    margin-top: 5px;
    font-size: 30px;
}

/*Contenedor de los elementos dentro del carrito*/
.contenido-del-carrito{
    position: relative;
    overflow: scroll;
    height: 300px;
}
/*Tarjetas de Productos dentro del carrito*/
.producto-carrito{
    display: flex;
    background-color: whitesmoke;
    border-top: 1px solid #e0e0e0;
    padding: 10px;
}

.imagen-en-carrito{
    width: 110px;
    margin-right: 15px;
}

.info-producto-carrito{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nombre-producto-carrito{
    margin-right: 70px;
}

.limpiar-del-carrito{
    border: none;
    font-size: 20px;
   
    background-color: whitesmoke;
}

.limpiar-del-carrito>fa-trash-alt{
    color:red;
}

.precio-producto-carrito{
    display: flex;
    justify-content: space-between;
}

.cantidad-comprada{
    width: 40px;
}

/*Botones de accion en carrito*/

.botones-de-accion{
    display: flex;
    flex-direction: column;
}

.comprar-carrito{
    height: 40px;
    background-color: green;
    border-radius: 5px;
    color: white;
    border: none;
    margin: 10px;
   
}

.vaciar-carrito{
    height: 40px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: 1px solid red;
    color: red;
    margin: 10px;
}

.subtotal{
    margin: 20px;
}

/*MODAL DEL CHECKOUT*/
.overlay2{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.modal-checkout{
    width: 100%;
    max-width: 800px;
    height: 100vh;
    background-color: #ffffff;
    padding: 40px;
    top: 0;
    overflow: auto;
}

.contenedor-general-datos-checkout{
    display: flex;
    justify-content: space-between;
}

.contenedor-datos-personales{
    width: 410px;
    padding: 20px;
}
.contenedor-inputs-datos{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;

}
input[type=text] {
    border: none;
    border-bottom: 1px solid black;
    height: 40px;
    width: 100%;
}
.contenedor-inputs-datos>label{
    margin-top:30px;
}

.opciones-de-pago{
    width: 410px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e0e0e0;
    padding: 20px;
}
 .resumen{
     width: 260px;
     background-color: #dedede;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 20px;
     align-items: stretch;
 }

.info-resumen>p,h2{
    display: flex;
    justify-content: space-between;
}

 .descuento-checkout{
     color: green;
 }

 .recargo-checkout{
     color: red;
 }

 .footer-checkout{
     margin-top: 40px;
     display: flex;
     justify-content: flex-end;
 }

 .footer-checkout>button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin: 10px;
 }

 .seguir-comprando{
     background-color: white;
 }
 .seguir-comprando:hover{
     background-color: #dedede;
 }
.finalizar-compra{
    background-color: green;
    color: white;
}

/*MODAL MENSAJE DE ABANDONAR CARRITO*/
.modal-mensaje{
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mensaje>h1{
    color: black;
    font-size: 30px;
    text-align: center;
}
.accion-mensaje{
    margin-top: 20px;
}
.accion-mensaje>button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin: 10px;
}
.vaciar{
    background-color: red;
    color: #ffffff;
}


/*SECCIÓN PRINCIPAL*/
/*SECCIÓN CONTENEDORA DE ENCABEZADO-TARJETAS Y TARJETAS DE PRODUCTOS*/
.seccion-tarjetas{
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1 1 800px;
}

/*ENCABEZADO DE LA SECCIÓN DE PRODUCTOS*/
.encabezado-tarjetas {
   background-color: #fafafa;
   height: 60px;
   font-size: 14px;
   margin: 10px;
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/*DIV CONTENEDOR DE BOTONES DE CAMBIO GRILLA-LISTA DENTRO DEL ENCABEZADO DE TARJETAS*/
.ver-como{
    display: flex;
    padding: 10px;
    align-items: center;
}

.disposicion{
    border:none;
    background-color: white;
    font-size: 20px;
    margin: 5px;
}


/*SECCIÓN DE TARJETAS*/
.contenedor-tarjetas{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20;

}

.tarjeta{
    background-color: #fafafa;
    margin:10px;
        
    display: flex;
    align-items: center;
   
    padding: 30px;
          
}


.grilla{
    height: 480px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.lista{
    justify-content: space-between;
    width: 100%;
}

/*DENTRO DE TARJETA*/
.imagen-producto{
    margin: 10px;
    height: 250px;
    width: 250px;
    overflow: hidden;
}

/*Animación del producto cuando hace hover*/
.imagen-producto:hover{
    transform: scale(1.2);
}

.imagen-producto>img{
    width: 250px;
}

.contenido-producto-grilla{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-producto-lista{
    max-width: 50%;
    padding: 20px;
    display: block;
}

.nombre-producto{
    font-weight: 600;
    margin-bottom: 0;
}

.precio-producto{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.puntaje-producto{
    display: flex;
    margin-top: 10px;
}
.boton-compra{
    width: 200px;
    height: 40px;
    border: none;
    background-color: whitesmoke;
    margin-top: 20px;
  }

  .boton-compra:hover{
      background-color: rgb(163, 184, 204);
  }


.hidden{
    display: none;
}

.no-scroll{
    overflow: hidden;
}





/*FOOTER*/
.footer-general{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.fa-heart{
    color:red;
}